/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
 */


/* TEXT SIZES */
$heading1: 3.052rem;
$heading2: 2.441rem;
$heading3: 1.953rem;
$heading4: 1.563rem;
$heading5: 1.25rem;
$heading6: 1rem;
$txt1: 1rem;
$txt2: 1rem;
$txt3: 1rem;
$txt4: 1rem;
$txt5: 1rem;
$txt6: 1rem;
$strong1: 700;
$strong2: 400;
$strong3: 100;
/* ----------- */

/* COLORS */
$primary-1: #15803d;
$primary-2: #4c995f;
$primary-3: #63B175;
$primary-4: #82C191;
$primary-5: #86efac;
$primary-6: #bbf7d0;
$gray-1: #0a0a0a;
$gray-2: #171717;
$gray-3: #262626;
$gray-4: #404040;
$gray-5: #525252;
$gray-6: #737373;
$gray-7: #a3a3a3;
$gray-8: #d4d4d4;
$gray-9: #e5e5e5;
/* ----------- */


$body-margin: 130px;
$nav-bar-spacing: 20px;
$page-border-radius: 6px;


body {
  background-color: #F8F9FA;
}

a {
  color: $primary-1;
}

.page-content {
  margin-top: $nav-bar-spacing;
  padding-top: 2rem;
  border-radius: $page-border-radius;
  background-color: white;
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: start;
  min-height: 100vh;
}